@import '@styles/main';

.container {
  @include flex(row-reverse);

  gap: 40px;
  background-color: $cracked-gray-100;
}

.filters{
  @include flex(column);

  gap: 20px;
  width: 300px;

  .cleanButton{
    @include manrope-p4;

    padding: 8px;
    color: $funny-pink;
    border: 1px solid $funny-pink;
    border-radius: 4px;

    &:hover{
      scale: 1.05;
    }
  }

  .search{
    @include flex(column);

    gap: 10px;

    .searchLabel{
      @include manrope-p4;

      color: $cracked-gray-800;
    }

    .searchInput{
      @include manrope-p4;

      padding: 8px;
      border: 1px solid $cracked-gray-300;
      border-radius: 4px;

      &:focus{
        border-color: $funny-pink;
        outline: none;
      }
    }
  }

  .filter{
    @include grid(2);

    align-items: center;

    .filterLabel{
      @include manrope-p4;

      color: $cracked-gray-800;
    }

    .filterSelect{
      @include manrope-p4;

      padding: 8px;
      border: 1px solid $cracked-gray-300;
      border-radius: 4px;

      &:focus{
        border-color: $funny-pink;
        outline: none;
      }
    }
  }
}

.productsTable {
  border-spacing: 0;
  border-collapse: collapse;

width: calc(100% - 300px);

  font-size: 14px;
  font-weight: 500;
  color: $cracked-gray-800;
  text-align: left;

  background-color: $cracked-gray-100;
  border: 1px solid $cracked-gray-300;

  .productRow{
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $cracked-gray-200;
    }

    .thumbnail{
      @include fixed-size(64px, 64px);
    }

    .editButton, .deleteButton {
      display: inline-block;
      margin-block: 4px;
      padding: 8px;
    }

    .editButton{
      color: $button-dark;
    }

    .deleteButton{
      color: $funny-pink;
    }
  }

  thead {
    tr {
      th {
        padding: 10px 20px;
        border-bottom: 1px solid $cracked-gray-300;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px 20px;
        border-bottom: 1px solid $cracked-gray-300;
      }
    }
  }
}
