@import '@styles/main';

/* web */

.aboutUsSection {
  @include flex(column);

  width: 100%;
  border-radius: 10px;
}

.topSide {
  @include flex(column);

  gap: 20px;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  .title {
    @include flex(row);

    align-items: center;
    justify-content: space-between;

    .text {
      @include manrope-h3;

      color: $primary-blue;
    }
  }

  .matters {
    @include grid(2);

    gap: 20px;

    .matter {
      @include flex(column);

      min-height: 100px;
      padding: 10px 20px;
      border: 1px solid opacity($action-orange, 0.2);
      border-radius: 20px;

      .matterHeader {
        @include flex(row);

        align-items: center;
        justify-content: space-between;

        .matterIcon {
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: opacity($action-orange, 0.1);
          border-radius: 50%;

          @include fixed-size(48px, 48px);

          .icon {
            @include fixed-size(28px, 28px);

            color: $action-orange;
          }
        }

        .matterTitle {
          @include manrope-p3;

          color: $action-orange;
        }
      }

      .matterDescription {
        max-width: 580px;

        @include manrope-p4;

        color: $cracked-gray-500;
      }
    }
  }
}

.bottomSide {
  @include flex(column);

  gap: 20px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  .title {
    @include flex(row);

    align-items: center;
    justify-content: space-between;

    .text {
      @include manrope-h3;

      color: $primary-blue;
    }
  }

  .contentGrid {
    @include grid(2);

    grid-template-columns: 3fr 2fr;
    gap: 40px;

    .descriptionBox {
      @include flex(column);

      gap: 8px;
      text-align: justify;

      .text {
        @include manrope-p4;

        color: $cracked-gray-500;
      }
    }

    .imageBox {
      background-color: $neutral-white;
    }
  }
}

/* tablet & mobile */

@media only screen and (max-width: $breakpoint-lg) {
  .aboutUsSection {
    gap: 20px;

    .topSide {
      padding: 0;

      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid $primary-blue;

        .text {
          @include manrope-p3;
        }
      }

      .matters {
        @include grid(2);

        gap: 10px;

        .matter {
          @include flex(column);

          gap: 10px;
          padding: 20px 10px;

          .matterHeader {
            @include flex(column-reverse);

            gap: 10px;
            align-items: flex-start;
            justify-content: flex-end;
            min-height: 80px;

            .matterIcon {
              @include fixed-size(20px, 20px);
            }

            .matterTitle {
              @include manrope-p4;
            }
          }

          .matterDescription {
            @include manrope-caption;
          }
        }
      }
    }

    .bottomSide {
      padding: 0;

      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid $primary-blue;

        .text {
          @include manrope-p3;
        }
      }

      .contentGrid {
        grid-template-columns: 1fr;

        .descriptionBox {
          .text {
            @include manrope-caption;
          }
        }

        .imageBox {
          display: none;
        }
      }
    }
  }
}
