@import '@styles/main';

.container {
  @include flex(row);

  min-height: 100vh;
  background-color: $cracked-gray-100;
}

.sidebar {
  position: sticky;
  top: 0;

  min-width: 300px;
  height: 100vh;

  background-color: $cracked-gray-200;
  
  @include flex(column);

  .logoContainer {
    @include flex(row);

    gap: 20px;
    align-items: center;

    padding: 20px;

    background-color: $action-orange;
    border-bottom: 3px solid $cracked-gray-400;

    .logo {
      @include fixed-size(40px, 40px);

      color: $primary-blue;
    }

    .text {
      @include gantari-p4;

      color: $neutral-white;
    }
  }

  .sidebarButton {
    @include flex(row);

    gap: 20px;
    align-items: center;
    justify-content: flex-start;

    padding: 20px;

    border-radius: 0;

    &:hover {
      scale: 1;
      background-color: $cracked-gray-300;

      .icon,
      .text {
        color: $neutral-white;
      }
    }

    .icon {
      @include fixed-size(20px, 20px);

      color: $cracked-gray-700;
    }

    .text {
      @include gantari-p4;

      color: $cracked-gray-700;
    }
  }
}

.content {
  @include flex(column);


  height: 100%;
  padding: 20px 40px;
}
