@import '@styles/main';


.navbar {
  @include grid(3);

  position: sticky;
  z-index: 100;
  top: 0;

  align-items: center;
  justify-content: space-between;

  
  padding-inline: 2rem;

  background-color: $trust-blue-500;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo {
  pointer-events: none;
  user-select: none;
  margin-left: 20px;

  @include fixed-size(120px, 120px);
}

.navigations {
  @include flex(row);

  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  background-color: $trust-blue-800;
  border-radius: 10px;

  .navButton {
    cursor: pointer;

    position: relative;

    align-items: center;
    justify-content: center;

    border-radius: 10px;

    @include flex(column);

    &:hover {
      /* scale reset */
      scale: 1;

      .inactiveText {
        color: $neutral-white;
      }

      .activeIcon {
        scale: 1.2;
      }
    }

    .activeText {
      color: $neutral-white;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;

      @include manrope-p2;
    }

    .inactiveText {
      color: $cracked-gray-100;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;

      @include manrope-p3;
    }

    .activeIcon {
      position: absolute;

      margin-bottom: -65px;
      padding: 4px;

      color: $neutral-white;

      border-radius: 50%;

      transition:
        margin-bottom 0.1s ease-in-out,
        opacity 0.3s ease-in-out,
        scale 0.2s ease-in-out,
        transform 0.8s ease-in-out;

      @include fixed-size(28px, 28px);
    }

    .inactiveIcon {
      position: absolute;
      opacity: 0;

      @include fixed-size(0, 0);
    }
  }
}

.actions {
  @include flex(row);

  gap: 32px;
  align-items: center;
  justify-content: flex-end;

  .auths {
    @include flex(row);

    gap: 8px;

    .actionButton {
      display: flex;
      padding: 6px 12px;
      background-color: opacity($neutral-white, 0.1);
      border-radius: 10px;

      &:hover {
        scale: 1.05;
      }

      .text {
        @include manrope-p4;

        color: $neutral-white;
      }
    }
  }

  .languageIcon {
    @include fixed-size(28px, 28px);
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .navbar {
    @include flex(row);

    align-items: center;
    padding-block: 16px;
    padding-inline: 16px;
    background-color: $button-solid;

    .navigations {
      display: none;
    }
  }

  .logo {
    margin-left: 0;

    @include fixed-size(64px, 64px);
  }

  .actions {
    gap: 20px;

    .auths {
      .actionButton {
        padding: 4px 8px;

        .text {
          @include manrope-caption;
        }
      }
    }

    .languageIcon {
      @include fixed-size(24px, 24px);
    }
  }
}
