@mixin grid($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin fixed-size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin box-shadow($blur: 10px, $color: $cracked-gray-200) {
  box-shadow: 0 4px $blur $color;
}

@mixin max-lines($lines: 1) {
  overflow: hidden;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

/* Quick Font Import */

/* Manrope */
@mixin font-manrope {
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin manrope-h1 {
  @include font-manrope;

  font-size: 3.5rem;
}

@mixin manrope-h2 {
  @include font-manrope;

  font-size: 3rem;
}

@mixin manrope-h3 {
  @include font-manrope;

  font-size: 2.5rem;
}

@mixin manrope-h4 {
  @include font-manrope;

  font-size: 2rem;
}

@mixin manrope-p1 {
  @include font-manrope;

  font-size: 1.8rem;
}

@mixin manrope-p2 {
  @include font-manrope;

  font-size: 1.5rem;
}

@mixin manrope-p3 {
  @include font-manrope;

  font-size: 1.2rem;
}

@mixin manrope-p4 {
  @include font-manrope;

  font-size: 1rem;
}

@mixin manrope-caption {
  @include font-manrope;

  font-size: 0.8rem;
}

@mixin manrope-caption2 {
  @include font-manrope;

  font-size: 0.6rem;
}


/* DynaPuff */
@mixin font-dynapuff {
  font-family: DynaPuff, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin dynapuff-h1 {
  @include font-dynapuff;

  font-size: 3.5rem;
}

@mixin dynapuff-h2 {
  @include font-dynapuff;

  font-size: 3rem;
}

@mixin dynapuff-h3 {
  @include font-dynapuff;

  font-size: 2.5rem;
}

@mixin dynapuff-h4 {
  @include font-dynapuff;

  font-size: 2rem;
}

@mixin dynapuff-p1 {
  @include font-dynapuff;

  font-size: 1.8rem;
}

@mixin dynapuff-p2 {
  @include font-dynapuff;

  font-size: 1.5rem;
}

@mixin dynapuff-p3 {
  @include font-dynapuff;

  font-size: 1.2rem;
}

@mixin dynapuff-p4 {
  @include font-dynapuff;

  font-size: 1rem;
}

@mixin dynapuff-caption {
  @include font-dynapuff;

  font-size: 0.5rem;
}
