@mixin grid($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin fixed-size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin box-shadow($blur: 10px, $color: $cracked-gray-200) {
  box-shadow: 0 4px $blur $color;
}

@mixin max-lines($lines: 1) {
  overflow: hidden;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

/* Quick Font Import */

/* Gantari */
@mixin font-gantari {
  font-family: Gantari, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin gantari-h1 {
  @include font-gantari;

  font-size: 3.5rem;
}

@mixin gantari-h2 {
  @include font-gantari;

  font-size: 3rem;
}

@mixin gantari-h3 {
  @include font-gantari;

  font-size: 2.5rem;
}

@mixin gantari-h4 {
  @include font-gantari;

  font-size: 2rem;
}

@mixin gantari-p1 {
  @include font-gantari;

  font-size: 1.8rem;
}

@mixin gantari-p2 {
  @include font-gantari;

  font-size: 1.5rem;
}

@mixin gantari-p3 {
  @include font-gantari;

  font-size: 1.2rem;
}

@mixin gantari-p4 {
  @include font-gantari;

  font-size: 1rem;
}

@mixin gantari-caption {
  @include font-gantari;

  font-size: 0.8rem;
}

@mixin gantari-caption2 {
  @include font-gantari;

  font-size: 0.6rem;
}


/* Cuprum */

@mixin font-cuprum {
  font-family: Cuprum, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin cuprum-h1 {
  @include font-cuprum;

  font-size: 3.5rem;
}

@mixin cuprum-h2 {
  @include font-cuprum;

  font-size: 3rem;
}

@mixin cuprum-h3 {
  @include font-cuprum;

  font-size: 2.5rem;
}

@mixin cuprum-h4 {
  @include font-cuprum;

  font-size: 2rem;
}

@mixin cuprum-p1 {
  @include font-cuprum;

  font-size: 1.8rem;
}

@mixin cuprum-p2 {
  @include font-cuprum;

  font-size: 1.5rem;
}

@mixin cuprum-p3 {
  @include font-cuprum;

  font-size: 1.2rem;
}

@mixin cuprum-p4 {
  @include font-cuprum;

  font-size: 1rem;
}

@mixin cuprum-caption {
  @include font-cuprum;

  font-size: 0.8rem;
}

@mixin cuprum-caption2 {
  @include font-cuprum;

  font-size: 0.6rem;
}

