/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Colors */

$neutral-white: #fff;
$neutral-black: #000;

$cracked-gray-50: #f9f9f9;
$cracked-gray-100: #f2f2f2;
$cracked-gray-200: #e6e6e6;
$cracked-gray-300: #ccc;
$cracked-gray-400: #b3b3b3;
$cracked-gray-500: #999;
$cracked-gray-600: #808080;
$cracked-gray-700: #666;
$cracked-gray-800: #4d4d4d;

$primary-blue: #0e2954;
$primary-blue-2: #1a3e7c;
$primary-blue-3: #2a5a9d;
$primary-blue-4: #3a77be;
$primary-blue-5: #5a95e0;

$secondary-blue: #1f6e8c;
$secondary-blue-2: #2a7e9c;
$secondary-blue-3: #3a8ebd;
$secondary-blue-4: #4a9edf;
$secondary-blue-5: #6abef1;

$action-orange: #ef5b0c;
$action-orange-2: #f26d0c;
$action-orange-3: #f37f0c;
$action-orange-4: #f4910c;
$action-orange-5: #f5a30c;
$action-orange-6: #f6b50c;

$calm-yellow: #ffd24c;
$calm-yellow-2: #ffd75f;
$calm-yellow-3: #ffdd72;
$calm-yellow-4: #ffe69a;
$calm-yellow-5: #ffecad;

$nondominant-green: #d4f6cc;
$nondominant-green-2: #c1f3c0;
$nondominant-green-3: #aeefb4;
$nondominant-green-4: #9beba8;
$nondominant-green-5: #88e79c;

$dominant-green: #3ccf4e;
$dominant-green-2: #3bd84e;
$dominant-green-3: #3ae14e;
$dominant-green-4: #39eb4e;
$dominant-green-5: #38f44e;

$funny-pink: #db4848;
$funny-pink-2: #f45050;
$funny-pink-3: #f56161;
$funny-pink-4: #f67272;
$funny-pink-5: #f78383;

$button-shiny: #84a7a1;
$button-solid: #2a5a9d;
$button-light: #f3f3f3;
$button-dark: #333;

$text-light: #fff;
$text-light-2: #f3f3f3;
$text-dark: #000;
$text-dark-2: #333;

/* new colors */

$real-gray-900: #212529;
$real-gray-800: #343a40;
$real-gray-700: #495057;
$real-gray-600: #6c757d;
$real-gray-500: #adb5bd;
$real-gray-400: #ced4da;
$real-gray-300: #dee2e6;
$real-gray-200: #e9ecef;
$real-gray-100: #f8f9fa;

$pretty-purple-900: #240046;
$pretty-purple-800: #3c096c;
$pretty-purple-700: #5a189a;
$pretty-purple-600: #7b2cbf;
$pretty-purple-500: #9d4edd;
$pretty-purple-400: #c77dff;
$pretty-purple-300: #e0aaff;
$pretty-purple-200: #f3e8ff;
$pretty-purple-100: #fcfaff;

$trust-blue-900: #000814;
$trust-blue-800: #001d3d;
$trust-blue-700: #003566;
$trust-blue-600: #004793;
$trust-blue-500: #0061c9;
$trust-blue-400: #80d6ff;
$trust-blue-300: #b3e0ff;
$trust-blue-200: #e6f0ff;
$trust-blue-100: #bfeaff;

$good-yellow-900: #b39d00;
$good-yellow-800: #ccae00;
$good-yellow-700: #e6bf00;
$good-yellow-600: #ffc300;
$good-yellow-500: #ffd71a;
$good-yellow-400: #ffe04d;
$good-yellow-300: #fff080;
$good-yellow-200: #fff7bf;
$good-yellow-100: #fffcdf;

$portugal-orange-900: #7f2a00;
$portugal-orange-800: #9f3a00;
$portugal-orange-700: #cc5803;
$portugal-orange-600: #e2711d;
$portugal-orange-500: #ff9505;
$portugal-orange-400: #fa3;
$portugal-orange-300: #ffb627;
$portugal-orange-200: #ffc971;
$portugal-orange-100: #ffdfb3;

/* New Colors */

/* Primary */
$primary-color-900: #0a043c;
$primary-color-800: #14086d;
$primary-color-700: #1f0a9d;
$primary-color-600: #290bcd;
$primary-color-500: #3a0ca3;
$primary-color-400: #480ca8;
$primary-color-300: #560cae;
$primary-color-200: #640cb3;
$primary-color-100: #730cb9;

/* Secondary */
$secondary-color-900: #0b2aff;
$secondary-color-800: #1b3bff;
$secondary-color-700: #2c4ef8;
$secondary-color-600: #375ef9;
$secondary-color-500: #4361ee;
$secondary-color-400: #4f6df0;
$secondary-color-300: #5b79f2;
$secondary-color-200: #6785f4;
$secondary-color-100: #7491f6;

/* Tertiary */
$tertiary-blue-900: #18a0f0;
$tertiary-blue-800: #26a0f0;
$tertiary-blue-700: #32b0f0;
$tertiary-blue-600: #3ec0f0;
$tertiary-blue-500: #4cc9f0;
$tertiary-blue-400: #5ad0f2;
$tertiary-blue-300: #68d7f4;
$tertiary-blue-200: #76def6;
$tertiary-blue-100: #84e5f8;

/* Fourth */
$fourth-purple-900: #2a0591;
$fourth-purple-800: #3c06a1;
$fourth-purple-700: #4d07a0;
$fourth-purple-600: #6008a9;
$fourth-purple-500: #7209b7;
$fourth-purple-400: #8d0bbd;
$fourth-purple-300: #a90cc3;
$fourth-purple-200: #c50ec9;
$fourth-purple-100: #e10fd0;

/* Bright */
$bright-pink-900: #c7006b;
$bright-pink-800: #d7007a;
$bright-pink-700: #f90e8a;
$bright-pink-600: #f80e8a;
$bright-pink-500: #f72585;
$bright-pink-400: #f641a5;
$bright-pink-300: #f658b0;
$bright-pink-200: #f66cc1;
$bright-pink-100: #f680d2;

/* Text Colors */
$text-color-1: #0b090a;
$text-color-2: #2b2b2b;
$text-color-3: #808080;
$text-color-4: #aaa;
$text-color-5: #d4d4d4;
$text-color-6: #fff;
