/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Colors */

$neutral-white: #fff;
$neutral-black: #000;

$cracked-gray-50: #f9f9f9;
$cracked-gray-100: #f2f2f2;
$cracked-gray-200: #e6e6e6;
$cracked-gray-300: #ccc;
$cracked-gray-400: #b3b3b3;
$cracked-gray-500: #999;
$cracked-gray-600: #808080;
$cracked-gray-700: #666;
$cracked-gray-800: #4d4d4d;

$primary-blue: #0e2954;
$primary-blue-2: #1a3e7c;
$primary-blue-3: #2a5a9d;
$primary-blue-4: #3a77be;
$primary-blue-5: #5a95e0;

$secondary-blue: #1f6e8c;
$secondary-blue-2: #2a7e9c;
$secondary-blue-3: #3a8ebd;
$secondary-blue-4: #4a9edf;
$secondary-blue-5: #6abef1;

$action-orange: #ef5b0c;
$action-orange-2: #f26d0c;
$action-orange-3: #f37f0c;
$action-orange-4: #f4910c;
$action-orange-5: #f5a30c;
$action-orange-6: #f6b50c;

$calm-yellow: #ffd24c;
$calm-yellow-2: #ffd75f;
$calm-yellow-3: #ffdd72;
$calm-yellow-4: #ffe69a;
$calm-yellow-5: #ffecad;

$nondominant-green: #d4f6cc;
$nondominant-green-2: #c1f3c0;
$nondominant-green-3: #aeefb4;
$nondominant-green-4: #9beba8;
$nondominant-green-5: #88e79c;

$dominant-green: #3ccf4e;
$dominant-green-2: #3bd84e;
$dominant-green-3: #3ae14e;
$dominant-green-4: #39eb4e;
$dominant-green-5: #38f44e;

$funny-pink: #db4848;
$funny-pink-2: #f45050;
$funny-pink-3: #f56161;
$funny-pink-4: #f67272;
$funny-pink-5: #f78383;

$button-shiny: #84a7a1;
$button-solid: #2a5a9d;
$button-light: #f3f3f3;
$button-dark: #333;

$text-light: #fff;
$text-light-2: #f3f3f3;
$text-dark: #000;
$text-dark-2: #333;
