html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Manrope, sans-serif;
  font-size: 18px;
}



@font-face {
  font-family: Manrope;
  src:
    local('Manrope'),
    url('../assets/fonts/Manrope.ttf') format('truetype');
}

@font-face {
  font-family: DynaPuff;
  src:
    local('DynaPuff'),
    url('../assets/fonts/DynaPuff.ttf') format('truetype');
}
