@import '@styles/main';

@keyframes launch-animation {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(50px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes image-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.launchSection {
  position: relative;

  @include grid(2);

  grid-template-columns: 3fr 4fr;
  gap: 80px;
  align-items: flex-start;
  justify-content: space-between;

  height: 500px;
  margin-inline: 100px;

  .launchCircle {
    @include fixed-size(600px, 600px);

    position: absolute;
    z-index: -1;
    top: -60px;
    left: 5%;

    background: linear-gradient(
      90deg,
      opacity($secondary-color-100, 0.005),
      opacity($secondary-color-100, 0.05) 40%,
      opacity($secondary-color-100, 0.1) 80%,
      opacity($secondary-color-100, 0.2)
    );
    border-radius: 240px;
    box-shadow:
      200px 0 0 0 opacity($secondary-color-100, 0.1),
      400px 0 0 0 opacity($secondary-color-100, 0.05),
      600px 0 0 0 opacity($secondary-color-100, 0.01);
  }

  .leftSide {
    @include flex(column);

    gap: 30px;
    align-items: flex-start;
    justify-content: center;

    height: 100%;

    animation: launch-animation 1.2s ease-in-out;

    .texts {
      @include flex(column);

      gap: 20px;

      .heading {
        @include gantari-p3;

        font-weight: 500;
        color: $primary-color-500;
        letter-spacing: 0.1em;
      }

      .title {
        max-width: 580px;

        @include gantari-h1;

        font-weight: 600;
        line-height: 0.9;
        color: $text-color-1;
      }

      .description {
        max-width: 580px;

        @include gantari-p4;

        font-weight: 300;
        line-height: 1.5;
        color: $text-color-3;
      }
    }

    .searchBar {
      @include flex(row);

      gap: 10px;

      min-width: 500px;
      padding: 12px 20px;

      outline: none;
      box-shadow: 0 4px 12px 0 rgba($real-gray-400, 0.5);

      .selectItem {
        @include flex(column);

        gap: 4px;

        .label {
          @include gantari-caption;

          color: $text-color-3;
        }

        .dropdown {
          position: relative;

          @include gantari-p4;

          min-width: 100px;
          padding: 4px;
          padding-right: 8px;

          color: $text-color-2;

          border: 1px solid $real-gray-400;
          border-radius: 8px;
          outline: none;
        }
      }

      .searchButton {
        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        margin-left: 20px;

        background-color: $action-orange;
        border-radius: 200px;

        .icon {
          width: 24px;
          height: 24px;
          color: $neutral-white;
        }
      }
    }
  }

  .rightSide {
    @include flex(column);

    @include fixed-size(100%, 600px);

    min-width: 600px;

    .imageWrapper {
      position: relative;

      @include fixed-size(100%, 100%);

      border-radius: 200px;
      animation: image-animation 1s linear;

      .image {
        border-radius: 200px;
      }
    }
  }
}
