@import '@styles/main';

$wp-color: #25d366;

.floatingWhatsappButton {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $wp-color;
  border-radius: 50%;

  transition: transform 0.2s ease-in-out;

  @include fixed-size(60px, 60px);

  &:hover {
    transform: scale(1.1);
  }

  .whatsappIcon {
    @include fixed-size(36px, 36px);

    margin-bottom: -3px;
    color: $neutral-white;
  }
}
