@import '@styles/main';

/* web */

.mainContainer {
  @include flex(column);

  align-items: center;
}

.mainContent {
  @include flex(column);

  gap: 140px;

  width: 100%;
  max-width: 2160px;
  min-height: 100vh;
  padding-block: 60px 0;
  padding-inline: 0;
}

/* mobile */

@media only screen and (max-width: $breakpoint-lg) {
  .mainContent {
    gap: 40px;
    padding-block: 40px 80px;
    padding-inline: 20px;
  }
}
