@import '@styles/main';

/* web */

.mainContainer {
  @include flex(column);
}

.mainContent {
  @include flex(column);

  gap: 80px;
  min-height: 100vh;
  padding-block: 60px 0;
  padding-inline: 0;
}

/* mobile */

@media only screen and (max-width: $breakpoint-lg) {
  .mainContent {
    gap: 40px;
    padding-block: 40px 80px;
    padding-inline: 20px;
  }
}
