@import '@styles/main';

.navbar {
  @include flex(column);

  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.topSide {
  @include flex(row);

  align-items: center;
  justify-content: space-between;
  padding: 12px 100px;
  background-color: $real-gray-900;

  .itemGroup {
    @include flex(row);

    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .item {
    @include flex(row);

    gap: 8px;
    align-items: center;
    justify-content: center;

    .icon {
      @include fixed-size(16px, 16px);

      color: $neutral-white;
    }

    .text {
      @include gantari-caption;

      color: $neutral-white;
    }
  }
}

.bottomSide {
  @include grid(3);

  align-items: center;
  padding: 15px 100px;
  background-color: $neutral-white;

  .navigations {
    @include flex(row);

    gap: 20px;
    align-items: center;
    justify-self: flex-start;

    .item {
      @include flex(row);

      gap: 4px;
      align-items: flex-start;
      padding: 12px 16px;
      transition: all 0.2s ease-in-out;

      &[aria-selected='true'] {
        background-color: opacity($secondary-color-500, 0.3);

        .text {
          color: $text-color-1;
        }
      }

      .text {
        @include gantari-p4;

        color: opacity($text-color-1, 0.5);
        white-space: nowrap;
      }
    }
  }

  .logo {
    position: relative;
    justify-self: center;

    @include fixed-size(80px, 80px);
  }

  .actions {
    @include flex(row);

    gap: 20px;
    justify-self: flex-end;

    .item {
      @include flex(row);

      gap: 4px;
      align-items: center;
      justify-content: center;

      .icon {
        @include fixed-size(24px, 24px);
      }

      .text {
        @include gantari-p4;

        color: $text-color-1;
      }
    }
  }
}

/* @media only screen and (max-width: $breakpoint-lg) {
} */
