@import '@styles/main';

.customTextButton {
  cursor: pointer;

  scale: 1;

  padding: 12px 24px;

  background-color: transparent;
  border: none;
  border-radius: 20px;
  outline: none;

  transition: all 0.2s ease-in-out;

  &:disabled:hover {
    cursor: not-allowed !important;
    scale: 1;
  }

  &:hover {
    scale: 1.05;
  }
}


/* tablet & mobile */

@media only screen and (max-width: $breakpoint-lg) {
  .customTextButton {
    padding: 8px 16px;

    &:hover{
      scale: none;
    }
  }
}