@import '@styles/main';

/* web */

.interestedBanner {
  width: 100%;
  height: 220px;
  margin-top: -30px;

  background-color: opacity($action-orange-5, 0.3);
  border-radius: 70px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
}

.boxWrapper {
  @include grid(3);

  gap: 20px;
  width: 100%;
  height: 100%;
  border-radius: 70px;

  .box {
    z-index: 1;

    width: 100%;
    margin: 0;

    border-radius: 70px;

    transition:
      margin 0.5s,
      scale 0.5s,
      transform 0.5s,
      box-shadow 0.3s,
      background-color 0.3s;

    .content {
      position: relative;

      @include flex(row);

      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;

      height: 100%;

      .image {
        position: absolute;
        z-index: 6;
        right: 40px;
        bottom: 0;

        @include fixed-size(200px, 200px);
      }

      .textContainer {
        position: relative;

        margin-top: 40px;
        margin-left: 40px;
        padding: 10px;

        background-color: $action-orange;
        border-radius: 10px;

        .text {
          position: relative;
          z-index: 199;
          color: $neutral-white;

          @include manrope-p4;
        }
      }
    }

    &:nth-of-type(1){
      .image{
        @include fixed-size(200px, 200px);
      }

      .textContainer{
        width: 55%;
      }
    }

    &:nth-of-type(2){
      .image{
        @include fixed-size(240px, 260px);
      }

      .textContainer{
       width: 50%;
      }
    }

    &:nth-of-type(3){
      .image{
        @include fixed-size(160px, 220px);
      }

      .textContainer{
         width: 55%;
      }
    }

    &:hover {
      scale: 1.1;
      background-color: opacity($action-orange-5, 0.8);
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);

      &:nth-of-type(1) {
        transform: rotateZ(-5deg);
        margin-bottom: -10px;
        margin-left: -20px;
      }

      &:nth-of-type(2) {
        margin-top: -10px;
      }

      &:nth-of-type(3) {
        transform: rotate(5deg);
        margin-bottom: -10px;
        margin-left: 30px;
      }
    }
  }
}

/* tablet & mobile */

@media only screen and (max-width: $breakpoint-lg) {
.interestedBanner{
  height: auto;
  margin-top: auto;
  background-color: $action-orange-3;
  border-radius: 40px;
}

  .boxWrapper{
    @include grid(1);

    gap: 10px;

    .box{
      &:hover{
        transform: unset !important;
        scale: unset;

        margin: unset !important;

        background-color: unset !important;
        box-shadow: unset !important;
      }

      .content{
        align-items: center;
        justify-content: flex-start;

        height: 100px;  
        padding-left: 40px;

        border-bottom: 2px solid $action-orange;

        .textContainer{ 
          width: auto;
          margin: unset;
          background-color: unset;

          .text{
            text-transform: uppercase;
          }
      }
      }

      &:nth-of-type(1){
        .image{
          left: 55%;

          @include fixed-size(120px, 120px);
        }
      }

      &:nth-of-type(2){
        .content{
          justify-content: flex-end;
        }

        .image{
          right: 60%;

          @include fixed-size(140px, 150px);
        }

        .textContainer{
          padding-right: 40px;
        }
      }

      &:nth-of-type(3){
        .content{
          border-bottom: unset;
        }

        .image{
          left: 60%;

          @include fixed-size(100px, 140px);
        }
      } 
    }
  }
}
