@import '@styles/main';

/* web */

.footerContainer {
  @include grid(2);

  grid-template-columns: 1fr 2fr;
  width: 100%;
  padding-block: 40px;
  background: $trust-blue-800;
  

  .section {
    @include flex(column);

    gap: 24px;

    .title {
      @include gantari-p4;

      color: $cracked-gray-100;
    }

    .list {
      @include flex(column);

      gap: 16px;

      .text {
        cursor: pointer;

        @include gantari-caption;

        color: $cracked-gray-200;
      }

      .social {
        @include flex(row);

        gap: 8px;
        align-items: center;

        .icon {
          @include fixed-size(16px, 16px);
        }

        .text {
          @include gantari-caption;

          color: $cracked-gray-200;
        }
      }
    }
  }

  .lastSection {
    @include flex(column);

    gap: 12px;

    .title {
      @include gantari-p4;

      color: $cracked-gray-200;
    }

    .inputContainer {
      @include flex(row);

      align-items: center;
      justify-content: center;

      .input {
        position: relative;

        width: 100%;
        height: 40px;
        padding: 0 16px;

        background-color: $cracked-gray-100;
        border: 1px solid transparent;
        border-radius: 8px 0 0 8px;
        outline: none;
      }

      .button {
        @include flex(row);

        align-items: center;
        justify-content: center;

        height: 42px;

        background-color: $cracked-gray-100;
        border-radius: 0 12px 12px 0;

        &:hover {
          scale: 1;
          
          .icon{
            color: $cracked-gray-200;
          }
        }

        .icon {
          color: $dominant-green;
          transition: color 0.2s ease-in-out;

          @include fixed-size(20px, 20px);
        }
      }
    }

    .text {
      @include gantari-caption2;

      color: $dominant-green;
    }
  }

  .footerLeft {
    @include flex(column);

    gap: 20px;
    padding-left: 20px;

    .logo {
      @include fixed-size(80px, 60px);
    }

    .textContainer {
      @include flex(column);

      gap: 8px;
      align-items: flex-start;

      .text {
        @include gantari-caption;

        color: $cracked-gray-200;
      }
    }
  }

  .footerRight {
    @include grid(3);

    padding-right: 20px;
  }
}

/* tablet & mobile */

@media only screen and (max-width: $breakpoint-lg) {
  .footerContainer {
    @include flex(column-reverse);

    gap: 40px;
    align-items: center;
    padding-block: 40px 20px;  

    .lastSection{
      .inputContainer{
        justify-content: flex-start
      }
    }

    .footerLeft {
      @include flex(row);

      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      padding-left: 0;

      .logo {
        @include fixed-size(40px, 30px);
      }
    }

    .footerRight {
      @include flex(column);

      gap: 40px;
      padding-right: 0;
    }
  }
}
